<!-- Launch in the camera namespace containing "image_raw" and "camera_info" -->
<launch>
  <arg name="manager" value="stereo"/> <!-- Must be globally qualified -->
  <arg name="respawn" default="true" />
  <arg name="left" default="left" />
  <arg name="right" default="right" />
  <arg name="downsampling_factor" value="1" />
  <arg name="approximate_sync" default="true" />

  <arg     if="$(arg respawn)" name="bond" value="" />
  <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

  <remap from= "/airsim_node/drone_1/front_left/Scene/camera_info" to="stereo/left/camera_info"/>
  <remap from= "/airsim_node/drone_1/front_left/Scene"  to="stereo/left/image_raw"/> 
  <remap from= "/airsim_node/drone_1/front_right/Scene/camera_info" to= "stereo/right/camera_info"/>
  <remap from= "/airsim_node/drone_1/front_right/Scene" to= "stereo/right/image_raw"/>

  <!-- Basic processing for left camera -->
  <include file="$(find image_proc)/launch/image_proc.launch"
	   ns="$(arg left)">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>

  <!-- Basic processing for right camera -->
  <include file="$(find image_proc)/launch/image_proc.launch"
	   ns="$(arg right)">
    <arg name="manager" value="$(arg manager)" />
    <arg name="respawn" value="$(arg respawn)" />
  </include>
  
  <!-- Disparity image -->
  <node pkg="nodelet" type="nodelet" name="disparity"
        args="load stereo_image_proc/disparity $(arg manager) $(arg bond)"
	respawn="$(arg respawn)" output= "screen">
    <param name="approximate_sync" value="$(arg approximate_sync)" />
  </node>

  <!-- PointCloud2 -->
  <node pkg="nodelet" type="nodelet" name="point_cloud2"
        args="load stereo_image_proc/point_cloud2 $(arg manager) $(arg bond)"
	respawn="$(arg respawn)" output= "screen">
    <param name="approximate_sync" value="$(arg approximate_sync)" />

  </node>
</launch>